.header{
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #222222;
    height: 100px;
    margin: 0px;
}
.header-logo{
    text-align: left;
    padding-top: 20px;
}
.header-top{
    text-align: right;
    padding-right: 150px;
    padding-top: 5px;
}
.header-detail ul li{
    display: inline-block;
    list-style: none;
    color: #b5b5b5;
}
.header-detail ul li a{
    text-decoration: none;
    font-size: 12px;
    padding: 0px 5px;
    color: #b5b5b5;
}
.search{
    display: inline-block;
    display: grid;
    grid-template-columns: 662px 100px 1fr;
}
.search-here{
    padding-left: 76px;
}
.search-here input{
    background-color: #ffffff;
    width: 475px;
    height: 37px;
    font-size: 15px;
    padding-left: 25px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-here button{
    background-color: #f10e34;
    width: 80px;
    height: 37.5px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
    color: #ffffff;
}
.search-here a img{
    height: 37px;
    padding-top: 15px;
}
.total-img{
    text-align: center;
}
.total p{
    font-size: 12px;
    color: #a9a9a9;
}
.total{
    text-align: right;
    padding-right: 160px;
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.total , .total_thongtin p{
    font-size: 15px;
}
.menu ul{
    text-align: center;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 30px;
}
.menu ul li:hover{
    background-color: blue;
}
.menu  ul li , .nav-link{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
